.bg-black {
  background: black;
}

.bg-green {
  background: green;
}

.bg-gray {
  background: gray;
  border: 1px solid gainsboro;
}

.f-flex {
  display: flex;
  // flex-direction: row; // 水平
  // flex-direction: row-reverse; // 水平反向
  // flex-direction: column; // 垂直
  // flex-direction: column-reverse; // 垂直反向

  // .flex-item {
  //   // flex: flex-grow|拉伸因子 flex-shrink|收缩规则 flex-basis|初始大小; 
  //   // flex: flex-shrink flex-basis; 
  //   // flex: auto;  // 平均占位
  //   // flex: initial; // 初始占位
  //   // flex: none; // 初始占位
  //   // flex: 2; // flex-grow
  //   // flex: 20px; // flex-basis
  //   // flex: 1 2 10%;
  // }
}

/* 在元素外部处理空间分布 */
.f-flex-space {
  justify-content: space-between;
}

/* 让元素自己处理空间分布 */
.f-flex-auto {

  &>* {
    flex: auto;
  }
}

/* 拆分导航 */
.f-flex-right {
  margin-left: auto;
}

.f-flex-left {
  margin-right: auto;
}

/* 元素居中 */
.f-flex-center {
  align-items: center;
  justify-content: center;
}

/* 绝对底部 */
.f-flex-footer {
  flex-direction: column;

  .f-flex-footer-content {
    flex: 1 1 auto;
  }
}

/* 媒体对象 */
.f-flex-media {
  align-items: flex-start;

  .f-flex-media-content {
    flex: 1;
  }
}

/* form */
.f-flex-ctrl {
  .f-flex-ctrl-input {
    flex: 1 1 auto;
  }
}

/* 等高 */
.f-flex-strength {
  align-items: stretch;
}